@model IEnumerable<CnWeb_FastFood.Models.EF.Category>

@foreach (var item in Model)
{
    <div class="col-lg-3">
        <div class="categories__item set-bg" data-setbg="/Areas/Admin/Content/Photos/@item.photo">
            <h5><a href="#">@item.name</a></h5>
        </div>
    </div>
}
